/* ICONFONT */
@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '?' */
.icon-down-dir:before { content: '\25bc'; } /* '?' */
.icon-star:before { content: '\2605'; } /* '?' */
.icon-check-off:before { content: '\2610'; } /* '?' */
.icon-check-on:before { content: '\2611'; } /* '?' */
.icon-calendar:before { content: '\e800'; } /* '?' */
.icon-plus:before { content: '\e801'; } /* '?' */
.icon-minus:before { content: '\e802'; } /* '?' */
.icon-youtube:before { content: '\f39e'; } /* '?' */
/* END ICONFONT */

/* MAIN SETTINGS */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.centrovsik {
    margin: auto;
    min-width: 768px;
    max-width: 1200px;
}
header {

}
@media (max-width: 817px){
    header {
        width: 815px;
}
}
.container {
    margin-right: 6%;
    margin-left: 6%;
    min-width: 768px;
}
/* NAVIGATION*/
.navi {
    position: relative;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
.lef_navigation {
    float: left;
    margin-top: 20px;
    margin-bottom: 12px;
    width: 50%;
}
.right_navigation{
    float: right;
    margin-top: 20px;
    margin-bottom: 12px;
    width: 50%;
}
.navi a {
    text-decoration: none;
    color: black;
}
.navi a:hover {
    color: #8bb9d5;
}
.navi a:active {
    color: #cacaca;
}
.navi a.active {
    color: #766357;
}
.navi a.active:hover {
    color: #604e43;
}
.navi a.active:active {
    color: #cacaca;
}
.navi ul {
    margin:0;
    padding: 0;
}
.navi li {
    display: inline-block;
    width: 49%;
    list-style-type: none;
}
/* LOGO */
.logo_smoll {
    position: absolute;
    width: 140px;
    left: 0;
    right: 0;
    margin: auto;
}
/*
@media (min-width: 950px){
    .logo_smoll {
        margin-left: 44%;
    }
}
@media (min-width: 851px) and (max-width: 949px) {
    .logo_smoll {
        margin-left: 42%;
    }
}
@media (max-width: 850px){
    .logo_smoll {
        margin-left: 41.3%;
    }
}*/
/* END LOGO */
/* END MAINNAVIGATION */

/* FOOTER */
/* FOOTER */
footer {
    height: 85px;
    padding-top: 35px;
    background: rgba(255, 255, 255, 0.8);
}
.copyright {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    font-size: 21px;
    font-weight: 700;
}
/* SOCIAL BUTTON */
.social {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;
}
.social_icon a{
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 48px;
    height: 33px;
    background-color: #81b3d2;
    padding-top: 13px;
    margin-right: 6px;
    text-align: center;
    align-content: center;
    font-size: 21px;
}
.social_icon a:hover {
    background: #669ec0;
}
.social_icon a:active {
    background: #5496bd;
    color: #94b9d2;
}
/* END SOCIAL BUTTON */
.developed {
    background-blend-mode: hard-light;
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    align-content: center;
}
.developed_title {
    float: left;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 30px;
}
.developed_ico {
    float: left;
    height: 39px;
    width: 113px;
    background-image: url("../img/htmlacademy.png");
    background-size: 100%;
}
.developed_ico:hover {
    background-image: url("../img/htmlacademy_hover.png");;
}
.developed_ico:active {
    background-image: url("../img/htmlacademy_active.png");;
}
/* END SOCIAL BUTTON */
/* MAIN SETTINGS */

/* INDEX */
/* MAIN */
/* LOGO */
.intro_logo {
    background: url("../img/sedona_background.png") no-repeat;
    background-position: 0 56px;
    background-size: 100%;
    margin-bottom: 27px;
}
.intro{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 25px;
    width: auto;
    text-align: center;
}
.welcome {

}
.gorgeus {
    margin-top: 10px;
}
.sedona {

    margin-top: 40px;
}
.sucks {

    margin-top: 40px;
}
.mask {
    width: 100%;
    min-height: 62px;
    background: url("../img/white1.png") no-repeat;
    background-size: 100%;
}
@media (min-width: 1000px) {
    .intro_logo {
        min-height: 560px;
    }
    .mask {
        height: 124px;
        background-position: bottom;
    }
}
@media (max-width: 1340px) {
    .mask {
    background-position: bottom;
    }
}
/* END LOGO */
/* CONTENT */
/* SLOGAN */
.slogan{
    display: block;
    margin-top: 55px;
    text-align: center;
}
.slogan h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 40px;
}
.slogan_description {
    text-transform: uppercase;
}
/* END SLOGAN */
.main_fact {
    width: 100%;
}
.main_fact_city {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    width: 100%;
    background: url("../img/sity.jpg") no-repeat;
    background-position: right;
    background-size: 67%;
    background-color: #81b3d2;
}
.main_fact_bridge {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    width: 100%;
    background: url("../img/bridg.jpg") no-repeat;
    background-position: left;
    background-size: 67%;
    background-color: #81b3d2;
}
.fact_city {
    float: left;
    width: 33%;
    height: inherit;
    text-align: center;
    text-transform: uppercase;
}
.fact_bridge {
    float: right;
    width: 33%;
    height: inherit;
    text-align: center;
    text-transform: uppercase;
}
.fact {
    float: left;
    width: 33%;
    height: inherit;
    text-align: center;
    text-transform: uppercase;
}
.fact_title {
    font-size: 21px;
    font-weight: 700;
}
/* END MAINFACKT */
.features_row {
    width: 100%;
}
.features_row_bottom {
    width: 100%;
    background-color: #eeeeee;
}
.features_item {
    float: left;
    width: 33.333%;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
.features_item_bottom {
    float: left;
    width: 33.333%;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #eeeeee;
}
.features_item h2 {
    font-size: 21px;
}
/* END FEATURES */

/* BOOK */
.interested {
    position: relative;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}
.interested_titled {

    font-size: 30px;
    font-weight: 700;
}
.book {
    margin: auto;
    width: 580px;
    font-weight: 700;
    padding: 20px;
}
.book fieldset {
    background: rgba(255, 255, 255, 0.9);
    height: 340px;
    border: none;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}
.book legend{
    display: block;
    width: 100%;
    height: 52px;
    text-align: center;
    color: #ffffff;
    padding-top: 23px;
    background-color: #766357;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}
.book legend:hover {
    background-color: #604e43;
}
.book legend:active{
    color: #928a85;
}
.field {
    margin-left: 55px;
    margin-right: 55px;
    height: 38px;
    margin-bottom: 30px;
    text-align: left;
}
.book label{
    display: inline-block;
    padding-top: 5px;
    text-align: left;
    font-weight: 700;
}
.field input{
    float: right;
    width: 67%;
    height: 33px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #000;
    border: none;
    outline: none;
    background: #f2f2f2;
}
.field input[type="date" ]{
    float: right;
    width: 75%;
    height: 33px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}
.old {
    display: inline-block;
    width: 240px;
    height: 33px;
    text-align: left;
}
.old input {
    float: right;
    width: 87px;
    margin-right: 40px;
    text-align: center;
}
.chil {
    display: inline-block;
    margin-left: 45px;
    width: 181px;
    height: 33px;
}
.chil input {
    width: 114px;
}
.book a {
    color: white;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
}
.hotel_serch_button {
    display: block;
    margin-left: 55px;
    margin-right: 55px;
    height: 40px;
    padding-top: 20px;
    background-color: #81b3d2;
}
.hotel_serch_button:hover {
    background-color: #669ec0;
}
.hotel_serch_button:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.form_book {
    display: none;
}
.form_book_show {
    display: block;
}
/* END BOOK */
.map {
    width: 100%;
    min-height: 520px;
    background-image: url("../img/map.jpg");
    background-size: 100%;
    position: absolute;
    top: 195px;
    z-index: -1;
    display: none;
}
.map_show {
    display: block;
}
/* END INDEX */
/* END MAIN */

/* SERCHRESULT */
/* MINE */
/* SEARCH FORM */
.intro_search {
    background: url("../img/search_form_bg.jpg") no-repeat;
    background-position: 0 56px;
    background-size: 100%;
    margin-bottom: 30px;
}
.search {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 15px;
    margin-bottom: 60px;
    width: auto;
}
.search_form {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;

}
.search_form fieldset {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    border: none;
}
.search_form fieldset:last-child {
    margin-left: 0;
}
.search_form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.search_form li {
    margin-top: 25px;
}
.search_form legend {
    font-size: 16px;
    font-weight: 700;
}
.search_form input[type="checkbox"] {
    display: none;
}
.search_form input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.search_form input[type="checkbox"] + label:before {
    content: '\2610';
    font-family: "symbols-sedona";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 20px;
    font-size: 24px;

}
.search_form input[type="checkbox"]:checked + label:before {
    content: '\2611';
    font-weight: 700;
}
.search_form input[type="checkbox"]:hover + label:before {
    color: #b5b5b5;
}
.search_form input[type="checkbox"]:active + label:before {
    color: #6a6a6a;
}
.cost_form {
    margin-top: 15px;
    width: 220px;
    height: 29px;
    padding-top: 6px;
    border: 2px solid #ffffff;
}
.cost_form label {
    margin-left: 25px;
}
.cost_form input {
    width: 55px;
    margin-left: 3px;
    background: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
input.bord {
    border-right: 2px solid #ffffff;
}
.price_roller {
    height: 20px;
}
a.show_result_button {
    display: block;
    margin-top: 20px;
    margin-left: 45px;
    width: 139px;
    height: 24px;
    border: 1px solid #ffffff;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.otstup {
    margin-left: 3%;
}
.range-controls {
    position: relative;
    width: 215px;
    height: 22px;
    padding-top: 20px;
    padding-left: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(215, 220, 222, .3);
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #ffffff;
}
.range-controls .toggle {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle:hover {
    background: #1c4f80;
}
.range-controls .toggle-min {
    left: 0px;
}
.range-controls .toggle-max {
    left: 156px;
}
@media (max-width: 990px) {
    .search_form fieldset {
        width: 27.9%;
    }
}
/* END SEARCH_FORM */
/* SORTING */
.header_result {
    margin-left: 6%;
    margin-right: 6%;
    position: relative;
    font-size: 12px;
}
.header_result strong {
    font-size: 21px;
    font-weight: 700;
}
.header_result a {
    color: #cacaca;
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}
.header_result a:hover {
    color: #81b3d2;
    text-decoration: none;
}
.header_result a:active {
    color: #000000;
    text-decoration: none;
    border-bottom: none;
}
a.active {
    color: #81b3d2;
    text-decoration: none;
    border-bottom: none;
}
.sorting {
    display: inline-block;
    margin-left: 50px;
}
.sorting ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.sorting title {
    margin-right: 40px;
}
.sorting li {
    display: inline-block;
    margin-right: 35px;
    list-style-type: none;
}
.sort {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 35px;
}
.sort a {
    text-decoration: none;
    border: none;
}
a.act {
    color:  #81b3d2;
}
.sort a:hover {
    color:  #000000;
}
.sort a:active {
    color:  #81b3d2;
}
/* END SORTING */

/* RESULT */
.single-line {
    border-top: 1px solid #d7d7d7;
    margin: 30px 0;
}
.result {
    margin: 0 6%;
}
.result a {
    text-decoration: none;
}
.result_img {
    max-width: 135px;
    max-height: 90px;
    float: left;
    margin-right: 30px;
}
.result_description {
    float: left;
    width: 70%;
    vertical-align: top;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}
.result_description h3 {
    margin: 0;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}
.result_description h3:hover {
    color: #a8c9df;
}
.result_description h3:active {
    color: #cacaca;
}
p.hotel_type  {
    display: inline-block;
    width: 110px;
    margin-top: 5px;
    margin-right: 3px;
    margin-bottom: 10px;

}
p.cost {
    display: inline-block;
    margin-top: 5px;
    margin-right: 3px;
    margin-bottom: 10px;
}
a.button_detail  {
    display: inline-block;
    height: 23px;
    width: 110px;
    margin-right: 5px;
    padding-top: 4px;
    text-align: center;
    font-size: 10px;
    background-color: #81b3d2;
    color: #ffffff;
    text-decoration: none;
}
a.button_detail:hover {
    background-color: #669ec0;
}
a.button_detail:active {
    background-color: #5496bd;
    color: #85b0cd;
}
a.button_book {
    display: inline-block;
    height: 23px;
    width: 110px;
    text-align: center;
    padding-top: 4px;
    font-size: 10px;
    background-color: #766357;
    color: #ffffff;
    text-decoration: none;
}
a.button_book:hover {
    background-color: #604e43;
}
a.button_book:active {
    background-color: #503e33;
    color: #928a85;
}
.hotel_ratings {
    float: right;
    vertical-align: top;
}
.stars {
    margin-bottom: 36px;
    text-align: right;
    margin-right: 0;
}
.fa-star {
    color: #81b3d2;
}
.hotel_ratings span{
    display: inline-block;
    height: 24px;
    width: 110px;
    text-align: center;
    padding-top: 6px;
    font-size: 14px;
    color: #666666;
    background-color: #f2f2f2;
}
/* END RESULT */